.bannerImage {
  width: 100%;
  height: auto;
}

.bannerUrl {
  background-color: var(--background-secondary);
}

.title {
  margin-top: 20px;
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  letter-spacing: -0.03em;
  margin-bottom: 25px;
}

.copyButtons {
  margin-top: 15px;
  display: flex;
  width: 100%;
}

.copyButtons button {
  margin-left: 14px;
}