.page {
  display: flex;
  flex-direction: row;
  column-gap: 100px;

  .bannerContainer {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;

    .bannerImage {
      height: 500px;

      svg {
        width: 100%;
        height: 100%;
      }
    }

    .bannerUrlContainer {
      display: flex;
      width: 100%;

      .bannerUrl {
        background-color: var(--background-secondary);
      }

      button {
        margin-left: 14px;
      }
    }

    .backButton {
      width: fit-content;
    }
  }

  .settingsContainer {
    //background: white;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;

    .settingsTitle {
      font-family: var(--font-secondary);
      font-size: 30px;
    }

    .settingsBooleans {
      display: flex;
      align-items: center;
      column-gap: 10px;
    }
  }

  //.title {
  //  margin-top: 20px;
  //  font-family: var(--font-secondary);
  //  font-style: normal;
  //  font-weight: 500;
  //  font-size: 24px;
  //  line-height: 31px;
  //  letter-spacing: -0.03em;
  //  margin-bottom: 25px;
  //}
  //
  //.mainContent {
  //  display: flex;
  //  flex-direction: column;
  //  align-items: center;
  //  row-gap: 15px;
  //
  //
  //
  //
  //  .assetSelect {
  //    min-width: 300px;
  //  }
  //

  //}
}
