.page {
  .title {
    margin-top: 20px;
    font-family: var(--font-secondary);
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: -0.03em;
    margin-bottom: 25px;
  }

  .mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;

    .bannerImage {
      width: 100%;
      height: auto;
    }

    .bannerUrl {
      background-color: var(--background-secondary);
    }

    .copyButtons {
      //margin-top: 15px;
      display: flex;
      width: 100%;

      button {
        margin-left: 14px;
      }
    }

    .assetSelect {
      min-width: 300px;
    }

    .backButton {
      width: fit-content;
    }
  }
}
